$primary_red: #fc2c38; /* #E92D37*/
$dark_red: #BD0302;
$color_secondary_red: #FC9696;
$black: #333333;
$gray: #999999;
$dark_gray: #6c6c6c;
$light_gray: #F4F7F4;
$light_gray_stroke: #FBFBFB;
$light_gray_2: #FAFEFB;
$light_gray_2_stroke: #F0F5F0;
$white: #FFFFFF;